.page-footer{
    font-family: 'system-ui';
    font-size: 13px;
    color : #683d13;
    background-color: #FED59C;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    border-top: solid #683d13;
    
}

.page-footer a {
    font-size: 18px;
    font-style: italic;
}


.adresse_infos p {
    margin-bottom: 0px!important;
}

.copyright{
    font-size: 15px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.copyright hr{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

h5{
    font-size: 16px;
}
p{
    margin-bottom: 5px!important;
}

.btn-inscription{
    background-color: #683d13;
    font-family: 'system-ui';
    color :white;
    border-radius: 30px;
    border-color: #683d13!important;
}

.barre{
    border-radius: 30px!important;
    border-color: #683d13;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
        footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
  }



::placeholder {
    color: #683d13;
}
