<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">

                <div class="row">
                        <div class="col-md-4 mt-md-0 mt-4">
                                <h5 class="text-uppercase">Qui sommes-nous ?</h5>
                                <p>Maître-Cookie depuis l'âge de 18 ans, Monsieur Jacky vous propose les meilleurs
                                        Cookies du Béarn. </p>
                                <p>Venez découvrir d'incroyables saveurs, nous vous attendons !

                                </p>

                        </div>

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <div class="col-md-4 mb-md-0 mb-4 adresse">
                                <h5 class="text-uppercase">Jacky Cookie</h5>
                                <div class="adresse_infos">
                                        <p>Boulevard Lucien Favre</p>
                                        <p>64000 Pau</p>
                                        <p>06.12.34.56.78</p>
                                </div>
                        </div>

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <div class="col-md-4 mb-md-0 mb-4">
                                <h5 class="text-uppercase">Recevoir nos promotions</h5>
                                <form class="input-group">
                                        <input type="text" class="form-control form-control-sm barre"
                                                placeholder="Entrer votre adresse email" aria-label="Your email"
                                                aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                                <button class="btn-inscription" mdbBtn outline="true" size="sm"
                                                        type="button" mdbWavesEffect>S'inscrire</button>
                                        </div>
                                </form>
                                2022 - Site de Jacky Cookie

                        </div>

                </div>


        </div>

</footer>