.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > * {
    width : 40%
}

.btn-primary{
    color: #fff;
    background-color: #A0522D;
    border-color: #A0522D;
}

.input_champ{
    margin-top: 20px;
}

.btn_submit{
    margin-top: 30px;
}

.bloc_connexion{
    margin-top: 30px;
}