.pagination{
    padding-bottom: 50px;
    width : 100%
}

.pagination button {
    width : 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-primary{
    background-color: #894C30;
    border-color : #894C30;
}

.btn-secondary{
    width: 70%;
    font-size: 18px;
    background-color: #894C30;
    padding-top: 1px;
    padding-bottom: 1px;
}


.ingredients{
    font-size: 14px;
    margin-top: 10px;

}

.block_else{
    margin-bottom: 65px;
}

.btn-panier{
    border-style: none;   
    background-color: transparent;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align : center;
}

.titre{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color : #7F5215;
}


