<h1 class="titre">Bienvenue chez Jacky Cookie</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12 qui">
            <span class="qui_title">QUI SOMMES-NOUS ? </span><br>
            Forte de 9 salariés et en constante croissance depuis sa création, l’entreprise <b>Jacky Cookie </b>
            s’affirme comme résolument originale, offrant des produits bons et frais à ses clients. Implantée dans le
            <b>Sud-Ouest </b> dont elle tire son impétueux caractère, l’entreprise a pour mission de proposer des produits de
            qualité, originaux et accessibles. <br>

            Reconnue qualité <b>Artisan Gourmand Nouvelle Aquitaine </b>, chez l’entreprise Jacky Cookie, on aime
            bien manger, mais aussi savoir ce qu’on a dans son assiette ! On favorise la transparence, les <b>ingrédients
            locaux </b>, en mettant en valeur la richesse du <b>patrimoine français </b>. <br>

            La Créativité, la Proximité avec la clientèle, l’Excellence et l’Accessibilité des produits ainsi que le
            Développement Durable sont les valeurs auxquelles l’entreprise Jacky Cookie tient. Dans une
            volonté d’amélioration permanente, on s’y veut en quête de perfection, mais toujours avec simplicité et
            sympathie ! <br>

            Chez Jacky Cookie, c’est aussi la <b>bonne ambiance </b> qui prime : tout en offrant à nos salariés
            les moyens de progresser et de s’épanouir professionnellement, on encourage le dynamisme, les initiatives et
            surtout... <b>l'amour ! </b>

        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 chef">
            <img src="/assets/datas//cookie-chef.jpg" />
        </div>
    </div>

</div>