.custom-navbar{
    border-bottom: solid #683d13;
    display: block;
    padding-top : 5px!important;
    padding-bottom : 0px!important;
    background: #FED59C;

}

.faShoppingBasket{
    color : #683d13;
}

.image-brand{
    display: flex;
}
.image-brand img{
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width : 180px;
}

.nav-item a {
    color : #683d13
}

.nav-item a:hover {
    color : #1d1d1b
}

.bloc-elements{
    display: flex;
    font-family: 'system-ui';
    font-size: 30px!important;
    margin-left: auto;
    margin-right: auto;
}

.bloc-elements ul{
    margin-left: auto;
    margin-right: auto;
}

.selected-item{
    text-decoration-line: underline;
    text-decoration-color: #683d13;
    text-underline-offset: 5px;
    color : #683d13
}

.navbar-toggler{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


@media screen and (max-width:991px) {
   .bloc-elements{
        display: table;
        text-align: center;
   }
}

.panier{
    color: #683d13!important;
}
.img_basket{
    margin-right: 7px;
}



