<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>

<nav class="custom-navbar navbar navbar-expand-lg navbar-light">

    <div class="image-brand">
        <img src="/assets/datas/logos/logo_grand.svg">
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <span class="example-spacer"></span>

    <div class="bloc-elements">
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="selected-item" routerLink="/cookies">Nos cookies </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="statutServ.connexion" routerLinkActive="selected-item"
                        routerLink="/profil">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!statutServ.connexion" routerLinkActive="selected-item"
                        routerLink="/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="statutServ.connexion" (click)="authServ.logOut()"
                        routerLinkActive="selected-item" routerLink="/login">Déconnexion</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" *ngIf="!statutServ.connexion" routerLinkActive="selected-item" routerLink="/register">Inscription</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" *ngIf="!statutServ.connexion" routerLink="/register">Qui sommes nous ? </a>
                </li> -->
            </ul>
        </div>
    </div>

</nav>