<div class="btn_add">
    <input class="btn btn-primary btn_add_cookie" type="submit" routerLink="/add-cookie" value="Ajouter un cookie">

    <input class="btn btn-primary btn_edit_user" type="submit" routerLink="/edit-users" value="Editer les utilisateurs">
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Nom</th>
            <th scope="col">Recette</th>
            <th scope="col">Prix</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cookieServ.listeCookies">
            <th><img src={{c.photo}}></th>
            <th>{{c.name}}</th>
            <th>{{c.recette}}</th>
            <th>{{c.prix}}€</th>
            <th>
                <div class="actions">
                    <i (click)="deleteCookie(c)" class="fa fa-trash" style="font-size:30px;color:red;"></i>
                    <a routerLink="/update/{{c.id}}">
                        <div class="edit"><i class="fa fa-edit" style="font-size:30px;color:blue;"></i></div>
                    </a>
                </div>
            </th>
        </tr>
    </tbody>
</table>