<h3 style="text-align: center;">Votre panier</h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Cookie</th>
            <th scope="col">Prix unitaire</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of listePanier">
            <th><img src={{c.photo_cookie}}></th>
            <th>{{c.name_cookie}}</th>
            <th>{{c.price_cookie}}€</th>
        </tr>
    </tbody>

</table>

<div class="btn_payer">
    <input class="btn btn-primary btn_payer" (click)="alertClick()" type="submit"  value="Procéder au paiement">
</div>
