<div class="page">
    <h1>Voici vos informations personnelles</h1>
    <div class="infos">

        <div class="article">
            <section>
                <div class="d-flex justify-content-around">
                    <div class="user_infos">
                        <h3>Pseudo : {{user?.username}}</h3>
                        <h3>Email : {{user?.email}}</h3>
                        <h3>Nom : {{user?.name}}</h3>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>