<h1 style="text-align: center; padding-top: 20px;">Voici vos informations personnelles</h1>
<div class="infos">

    <div class="article">
        <section>
            <div class="d-flex justify-content-around">
                <div class="user_infos">
                    <img src="/assets/datas/avatar.png">
                    <h3>Pseudo : {{user?.username}}</h3>
                    <h3>Email : {{user?.email}}</h3>
                    <h3>Nom : {{user?.name}}</h3>
                </div>
            </div>
        </section>
    </div>
</div>